
.ion-icon{
	font-size: 36px;
	line-height: 48px;
	display: block;
}
.ak-logo {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 18px;
	transition: color ease $transition;

	&:hover{
		text-decoration: none;
		color: $color_green;
	}
}
.ak-title-wrapper{
	min-height: 190px;
}

.ak-title{
	font-size: 30px;
	line-height: 48px;
	text-transform: uppercase;
	position: relative;
	z-index: 1;
	margin-bottom: 16px;
	display: inline-block;

	&:after{
		content: '';
		display: block;
		background-color: $color-green;
		position: absolute;
		top: 50%;
		left: 0;
		height: 21px;
		width: 70px;
		z-index: -1;

	}
}
.ak-button{
	background-color: $color_green;
	border: 2px solid $color_green;
	text-transform: uppercase;
	color: #FFF;
	display: inline-block;
	line-height: 46px;
	height: 50px;
	padding: 0 40px;

	transition: ease $transition;
	transition-property: color, background-color;
		&:hover{
		text-decoration: none;
		background-color: $color_green;
		color: $color_main;
		border: 2px solid $color_main;


		}
}
